<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Request Spotify token</title>
</head>
<body>
    <a href="https://accounts.spotify.com/authorize/@ViewBag.Query"><button>Generate Spotify access code</button></a>
</body>
</html>
